@model WebApplication1.Data.Breed
@using WebApplication1.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@inject SignInManager<User> SignIn
@inject UserManager<User> Manager
@{
    ViewData["Title"] = "Delete";
}
@if (SignIn.IsSignedIn(User) && await Manager.IsInRoleAsync(Manager.GetUserAsync(User).Result, "admin"))
{<h1>Изтриване на породата</h1>
    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Breeds)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Breeds)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Изтриване" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-primary">Върни се назад</a>
        </form>
    </div>
}
else
{

}