@model IEnumerable<WebApplication1.Data.Breed>
@using WebApplication1.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@inject SignInManager<User> SignIn
@inject UserManager<User> Manager
@{
    ViewData["Title"] = "Index";
}




@if (SignIn.IsSignedIn(User) && await Manager.IsInRoleAsync(Manager.GetUserAsync(User).Result, "admin"))
{<p>
    <a asp-action="Create" class="btn btn-outline-success">Създай</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Breeds)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Breeds)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Поправяне</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

